*.retry
*.log
.DS_Store
__pycache__/
.venv/
.env
/files/ca/ca.key
/var/
collections/
!.gitkeep
!collections/requirements.yml
.ansible/*
!.ansible/requirements.yml

# --- inventory/host_vars: ignore everything ---
inventory/host_vars/*

# allow subdirectories
!inventory/host_vars/*/

# inside each host dir: ignore everything
inventory/host_vars/*/*

# allow only examples + docs
!inventory/host_vars/*/*.example.yml
!inventory/host_vars/*/README.md
!inventory/host_vars/*/.gitkeep
