---
# Установка и запуск smoke для ноды (TLS)

- name: Install Node TLS Smoke Script
  ansible.builtin.copy:
    dest: /usr/local/bin/smoke_node_tls.sh
    mode: "0755"
    content: >-
      {{ lookup('file', 'files/smoke_node_tls.sh')
         | to_nice_yaml
         | regex_replace('^---\n', '') }}
  tags: ["smoke", "node", "tls"]

- name: Run Node TLS Smoke
  ansible.builtin.command:
    argv: ["/usr/local/bin/smoke_node_tls.sh"]
  register: smoke_tests_node_tls_out
  changed_when: false
  failed_when: smoke_tests_node_tls_out.rc != 0
  tags: ["smoke", "node", "tls"]

- name: Show Node TLS Smoke Output
  ansible.builtin.debug:
    var: smoke_tests_node_tls_out.stdout_lines
  tags: ["smoke", "node", "tls"]
