- name: "Remnawave Node | Prepare host"
  ansible.builtin.import_tasks: prepare.yml

- name: "Remnawave Node | Optional geo mounts"
  ansible.builtin.import_tasks: geo.yml

- name: "Remnawave Node | Compose up"
  ansible.builtin.import_tasks: compose.yml

- name: "Remnawave Node | Logs & logrotate"
  ansible.builtin.import_tasks: logs.yml
