---
- name: Reload Nginx (systemd)
  ansible.builtin.service:
    name: nginx
    state: reloaded

- name: Restart Panel Stack
  community.docker.docker_compose_v2:
    project_src: "{{ remnawave_panel_root_dir }}"
    state: present
    pull: missing
    recreate: always
    remove_orphans: true

- name: Restart Subscription Page
  community.docker.docker_compose_v2:
    project_src: "{{ remnawave_sub_dir }}"
    services:
      - "{{ remnawave_sub_container_name | default('remnawave-subscription-page') }}"
    state: present
    pull: missing
    recreate: always
