---
- name: Deploy Remnawave Nodes
  hosts: nodes
  become: true
  roles:
    - role: common           # базовые пакеты/настройки
      tags: [base]

    - role: docker_engine    # Docker + compose v2 ОБЯЗАТЕЛЬНО перед панелью
      tags: [docker]

    - role: remnawave_register_node
      tags: [register_node]

    - role: remnawave_add_host
      tags: [register_host]

    - role: remnawave_node
      tags: [node]
